/*
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
  */

:root {
    /* variables: */
    --colors-primary-light-red: 0, 100%, 67%;
    --colors-primary-orangey-yellow: 39, 100%, 56%;
    --colors-primary-green-teal: 166, 100%, 37%;
    --colors-primary-cobalt-blue: 234, 85%, 45%;
    --colors-gradients-light-slate-blue-background: hsl(252, 100%, 67%);
    --colors-gradients-light-royal-blue-background: hsl(241, 81%, 54%);
    --colors-gradients-violet-blue-circle:hsla(256, 72%, 46%, 1);
    --colors-gradients-persian-blue-circle: hsla(241, 72%, 46%, 0);
    --colors-neutral-white: hsl(0, 0%, 100%);
    --colors-neutral-pale-blue: hsl(221, 100%, 96%);
    --colors-neutral-light-lavender: hsl(241, 100%, 89%);
    --colors-neutral-dark-gray-blue: hsl(224, 30%, 27%);
    /* typography variables: */
    --typography-body-copy-paragraph-font-size: 18px;
    --typography-font-family: Hanken Grotesk; /* Should I include a url to assets here? */
    --typography-font-weight-500: 500;
    --typography-font-weight-700: 700;
    --typography-font-weight-800: 800;
    font-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.page-container {
    background-color: var(--colors-neutral-white);
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;
}

.result-container {
    background-image: linear-gradient(var(--colors-gradients-light-slate-blue-background), var(--colors-gradients-light-royal-blue-background));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.result-container > p,
button,
h1,
h2 {
    color: var(--colors-neutral-white);
}

.score-circle {
    border-radius: 50%;
    background-image: linear-gradient(var(--colors-gradients-violet-blue-circle), var(--colors-gradients-persian-blue-circle));
    width: 100px;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 0;
    margin: 0;
}

.summary-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    gap: 10px;
}

.summary-score-box {
    width: 100%;
    border-radius: 10px;
    /* border: solid 1px black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

}

.reaction {
    background-color: hsla(var(--colors-primary-light-red), 0.15);
}

.memory {
    background-color: hsla(var(--colors-primary-orangey-yellow), 0.15);
}

.verbal {
    background-color: hsla(var(--colors-primary-green-teal), 0.15);
}

.visual {
    background-color: hsla(var(--colors-primary-cobalt-blue), 0.15);
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    background-color: var(--colors-neutral-dark-gray-blue);
    border: none;
}

@media screen and (min-width: 500px) {
    .page-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .component-container {
        width: 720px;
        height: 405px; 
        /* temporary sizes */
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        background-color: white;
        border-radius: 25px;
        box-shadow: 10px 10px 20px 10px blueviolet;
    }

    .result-container {
        background-image: linear-gradient(var(--colors-gradients-light-royal-blue-background), var(--colors-gradients-light-slate-blue-background));
        border-radius: 25px;
    }
}